

nav a{
    margin-left:  20px;
}



.text{
    text-align: center;
}

.button{
    color: wheat;
    background-color: black;
    padding: 10px;
}


nav a.active{
    text-decoration: underline;

background-color:yellow;


}

.style{
    display: block;
    justify-content: center;
    margin: 0px;
    margin-left: 0px;
    margin-right: 0px;
}
